@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 40px;
  letter-spacing: 5px;
  user-select: none;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 10px 20%;
}

.image-container img {
  width: 100%;
  margin-top: 10px;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
  .image-container {
    margin: 10px;
  }
}